<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="pushsdk" content="2c06c844b0d12a9c99186c503dc7b0b3">
    <title>Xuan Son Ha - Portfolio</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/MyStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3135/3135800.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8147024554168992"
     crossorigin="anonymous"></script>
</head>
<body class="main-content">
    <!--Start: Header-->
    <header class="container header active" id="home">
        <div class="header-content">
            <div class="left-header">
                <div class="h-shape"></div>
                <div class="image">
                    <img style="border-radius: 16px;" src="https://haxuanson.s3.amazonaws.com/img/sonxh.jpg" alt="">
                </div>
            </div>
            <div class="right-header">
                <h1 class="name">
                    Hi, I'm <span>Hà Xuân Sơn.</span>
                    A Lecturer, Researcher, and Developer.
                </h1>
                <p>
                    “I have not failed. I’ve just found 10,000 ways that won’t work.” ‐ Thomas Edison. 
                </p>
                <div class="btn-con">
                    <a href="https://haxuanson.s3.amazonaws.com/source/Ha_Xuan_Son___Resume.pdf" class="main-btn" target="_blank">
                        <span class="btn-text">Download My CV</span>
                        <span class="btn-icon"><i class="fas fa-download"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!--End: Header-->



    <main>
        <!--Start: About Information-->
        <section class="container about" id="about">
            <div class="main-title">
                <h2>About <span>me</span><span class="bg-text">my stats</span></h2>
            </div>

            <!--Start: About me-->

            <div class="about-container">
                <div class="left-about">
                    <h4>Information About me</h4>
                    <p style="font-size: 16px;text-align: justify;">
                        Ha Xuan Son is an Associate Lecturer at Blockchain Enabled Business, SGS Campus, RMIT University. Before joining RMIT, he was a Marie Curie Fellow in
                        <a style="text-decoration: underline;" href="https://rais-itn.eu/fellow/ha-xuan-son">Real-time Analytics for Internet of Sports (RAIS)</a> 
                        project under the profession of Prof. Elena Ferrari and Prof. Barbara Carminati at the
                        <a style="text-decoration: underline;" href="href= https://www.uninsubria.it/hpp/ha-xuan.son">University of Insubria, Varese, Italy</a>  
                        . During the research period, he has had a history of practical experience working with professors from the world's top
                        universities, including the USA (MIT, Harvard University); UK (Cambridge University); Sweden (KTH); Italy (UNITN); and
                        Cyprus (UCY). His research interests are in Security, Data privacy, and Blockchain fields. He is the author, co-author
                        of more than 30 scientific articles appeared in about 20 conferences and journals in Security and Privacy fields. He is
                        also currently serving as a reviewer for several journals, such as Future Generation Computer Systems, Computers &
                        Electrical Engineering, Journal Cloud Computing, Springer Computing Journal, International Journal of Medical
                        Informatics as well as conferences such as ASONAM 2021; CODASPY 2022; ICDCS 2022.
                    </p>
                    <div class="btn-con">
                        <a href="https://haxuanson.s3.amazonaws.com/source/Ha_Xuan_Son___Resume.pdf" class="main-btn" target="_blank">
                            <span class="btn-text">Download CV</span>
                            <span class="btn-icon"><i class="fas fa-download"></i></span>
                        </a>
                    </div>
                </div>

                <div class="right-about">
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">30+</p>
                            <p class="small-text">Research <br /> papers/articles</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">10+</p>
                            <p class="small-text">Years of <br /> experience</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">20+</p>
                            <p class="small-text">Research <br /> projects</p>
                        </div>
                    </div>
                    <div class="about-item">
                        <div class="abt-text">
                            <p class="large-text">1.000+</p>
                            <p class="small-text">Charity  <br /> activities</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--End: About me-->

            <!--Start: WORK EXPERIENCE-->
            <h4 class="stat-title">WORK EXPERIENCE</h4>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2023 - Onward</p>
                    <h5>Associate Lecturer - Blockchain-Enabled Business, SGS Campus, RMIT University</h5>
                    <p>
                        Head of department: Dr. Thanh-Binh Nguyen
                    </p>
                
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Subject: </span>
                    </p>
                
                    <p class="projectName">
                        Forecasting and Quantitative Analysis (Sem I - 2023)
                    </p>
                </div>
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2019 – 2023</p>
                    <h5>Researcher and Developer<span> - <a class="work-link" target="_blank" href="https://strict.dista.uninsubria.it/">University of Insubria, Italy</a></span></h5>
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Advisor: </span>
                        Prof. Elena Ferrari and Prof. Barbara Carminati
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Project: </span>
                    </p>

                    <p class="projectName">
                        <span style="font-weight: bold;">Real-time Analytics for Internet of Sports (RAIS)</span>, under grant agreement No 813162, funded by Marie Skłodowska-Curie Innovative Training Networks
                    </p>

                    <p class="projectName">
                        <span style="font-weight: bold;">Cyber security competence for research and innovation</span>, under grant agreement No 830927 (CONCORDIA), funded by H2020 Research and Innovation program
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Technologies: </span>
                    </p>

                    <p class="projectName">NodeJS, Android platform, natural language processing, static analysis, dynamic analysis, homomorphic encryption, trusted execution environment, edge computing, BERT.</p>
                </div>



                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">Jan – Jun 2022</p>
                    
                    <h5>Researcher and Developer<span> - <a class="work-link" target="_blank" href="https://www.kinetic-analysis.com/">Kinetic Analysis, Netherland</a></span></h5>

                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Advisor: </span>
                        Prof. Elena Ferrari, Prof. Barbara Carminati, and Dr. Maarten Gijssel
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Project: </span>
                    </p>

                    <p class="projectName">
                        Balancing between privacy-preserving analysis and convenience-service providing for motion data in the Hockey field
                    </p>
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Technologies: </span>
                    </p>


                    <p class="projectName">NodeJS, python, homomorphic encryption, trusted execution environment, Bidirectional Recurrent Neural Network.</p>

                </div>



                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">Jun – Sep 2021</p>
                    
                    <h5>Researcher and Developer<span> - <a class="work-link" target="_blank" href="https://www.belfercenter.org/">Belfer center, Harvard Kennedy school, Harvard University, USA</a></span></h5>
                    
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Advisor: </span>
                        Prof. Elena Ferrari and Dr. Julia Voo
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Project: </span>
                    </p>

                    <p class="projectName">
                        Determining whether China uses Twitter to stimulate tensions between Europe and the United States in the period surrounding the 2020 Presidential election
                    </p>
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Technologies: </span>
                    </p>

                    <p class="projectName">NodeJS, NLP, Twitter API, Word2Vec, BERT, NLP Stanford parser, Python</p>
                
                </div>

                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">Jan – Jun 2021</p>
                    
                    <h5>Researcher and Developer<span> - <a class="work-link" target="_blank" href="http://linc.ucy.ac.cy/">Internet Computing Lab (LInC), University of Cyprus, Cyprus</a></span></h5>
                    
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Advisor: </span>
                        Prof. Elena Ferrari, Prof. Barbara Carminati, and Prof. George Pallis
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Project: </span>
                    </p>

                    <p class="projectName">
                        Privacy-preserving data transfer according to user privacy preferences
                    </p>
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Technologies: </span>
                    </p>

                    <p class="projectName">NodeJS, Fogify, trusted execution environment, fog computing</p>
                </div>

                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2015 –  2019</p>
                    
                    <h5>Researcher and Developer<span> - <a class="work-link" target="_blank" href="#">D-STAR Lab, Ho Chi Minh city University of Technology, Vietnam</a></span></h5>
                    
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Advisor: </span>
                        Assoc. Prof. Tran Khanh Dang
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Project: </span>
                    </p>

                    <p class="projectName">
                        <span style="font-weight: bold;">Developing a Storage Model and Access Control Method for Big Data Management Systems in Universities (2015 – 2018)</span>, funded by DoST–CT
                    </p>
                    
                    <p class="projectName">
                        <span style="font-weight: bold;">A new generation access control model for privacy preserving in NoSQL Document data (2018 – 2019)</span>, funded by VNUHCM
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Technologies: </span>
                    </p>

                    <p class="projectName">NodeJS, Java, XACML, ABAC</p>

                </div>


                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">Feb – Jul 2017</p>
                    <h5>RESEARCHER AND DEVELOPER<span> - <a class="work-link" target="_blank" href="https://securitylab.disi.unitn.it/">Security Lab, DISI, University of Trento, Italy</a></span></h5>
                    
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Advisor: </span>
                        Prof. Fabio Massacci
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Project: </span>
                    </p>

                    <p class="projectName">
                        <span style="font-weight: bold;">FuturesMEX</span> - A research experiment on Secured Distributed Futures Market Exchange based on a Blockchain framework.
                    </p>
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Scientific topics: </span>
                    </p>

                    <p class="projectName">
                        Market exchange, anonymous communications, zero-knowledge, blockchain, multi-party computation
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Technologies: </span>
                    </p>

                    <p class="projectName">Java, C++, Zero knowledge proof, MPC, Hyperledger Fabric, Vagrant, Blockchain</p>
                </div>

                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2013 – 2019</p>
                    <h5>Lecturer<span> - <a class="work-link" target="_blank" href="#">Cantho University of Technology, Vietnam</a></span></h5>
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Subject: </span>
                    </p>

                    <p class="projectName">
                        Algorithm (2013 – 2015), Operating System (2017 – 2019), Clean Code (2018 – 2019) 
                    </p>
                </div>

                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2018 – 2019</p>
                    <h5>Visiting Lecturer<span> - <a class="work-link" target="_blank" href="#">FPT University, Can Tho campus, Vietnam</a></span></h5>
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Subject: </span>
                    </p>

                    <p class="projectName">
                        Database System (2018 – 2019), Operating System (2018 – 2019)
                    </p>
                </div>

                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2015 – 2017</p>
                    <h5>TEACHING ASSISTANT<span> - <a class="work-link" target="_blank" href="#">Ho Chi Minh city University of Technology, Vietnam</a></span></h5>
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Work: </span>
                    </p>

                    <p class="projectName">
                        Manage at Advanced Computing Lab (AC - Lab) 
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Subject: </span>
                    </p>

                    <p class="projectName">
                        Advanced Database System (2015 – 2016)
                    </p>
                </div>            
            </div>
            <!--End: WORK EXPERIENCE-->

            <!--Start: Skills-->
            <div class="about-stats">
                <!--Start: Core Skills-->
                <h4 class="stat-title">CORE SKILLS</h4>
                
                
                <div class="core-skills">

                    <div class="core-skills-item">
                        <p class="prog-title">RESEARCH INTERESTS</p>
                        <p class="skillDesc">Individual privacy preferences</p>
                        <p class="skillDesc">User-centric management system</p>
                        <p class="skillDesc">Data privacy</p>
                        <p class="skillDesc">Blockchain</p>
                        <p class="skillDesc">Trusted execution environment</p>
                        <p class="skillDesc">NLP</p>
                        <p class="skillDesc">Privacy-preserving computation</p>
                        <p class="skillDesc">Machine learning</p>
                    </div>

                    <div class="core-skills-item">
                        <p class="prog-title">HARD SKILLS</p>
                        <p class="skillDesc">Data privacy</p>
                        <p class="skillDesc">Security</p>
                        <p class="skillDesc">Android S&P analysis</p>
                        <p class="skillDesc">Privacy-preserving computation</p>
                        <p class="skillDesc">Static and dynamic analysis</p>
                        <p class="skillDesc">Authorization</p>
                        <p class="skillDesc">Cryptography</p>
                        <p class="skillDesc">Blockchain design</p>
                        <p class="skillDesc">Environment configuration</p>   
                    </div>
                    <div class="core-skills-item">
                        <p class="prog-title">SOFT SKILLS</p>
                        <p class="skillDesc">Communication</p>
                        <p class="skillDesc">Vivaciousness</p>
                        <p class="skillDesc">Dynamism</p>
                        <p class="skillDesc">Self-motivation</p>
                        <p class="skillDesc">Teamwork</p>
                        <p class="skillDesc">Time management</p>
                        <p class="skillDesc">Willingness to explore new topics</p>
                        <p class="skillDesc">Adapting to new environment</p>
                    </div>
                </div>


                <!--End: Core Skills-->
                <!--Start: Programming skills-->
                <h4 class="stat-title">PROGRAMING SKILLS</h4>
                <div class="progress-bars">
                    <div class="progress-bar">
                        <p class="prog-title">Front-end</p>
                        <p class="skillDesc">HTML, CSS, Javascript, Wordpress, Latex</p>
                        
                    </div>

                    <div class="progress-bar">
                        <p class="prog-title">Back-end</p>
                        <p class="skillDesc">NodeJS, Java, C++, Python</p>
                    </div>

                    <div class="progress-bar">
                        <p class="prog-title">Database</p>
                        <p class="skillDesc">MongoDB, SQL, SQLite</p>
                    </div>

                    <div class="progress-bar">
                        <p class="prog-title">Operating System</p>
                        <p class="skillDesc">Android, MacOS, Windows, Linux</p>
                    </div>
                </div>
                <!--End: Programming skills-->
            </div>
            <!--End: Skill-->
            


            <!--Start: Programming skills-->
            <div class="about-stats">
                <h4 class="stat-title">HONOURS AND AWARDS</h4>
                <div class="progress-bars">
                    <div class="progress-bar">
                        <p class="prog-title">Marie Curie Fellowship</p>
                    </div>
    
                    <div class="progress-bar">
                        <p>Awarded a Marie Curie Fellowship (2019 – 2022)</p>
                    </div>
    
                    <div class="progress-bar">
                        <p class="prog-title">Excellent Lecturer Award</p>
                    </div>
    
                    <div class="progress-bar">
                        <p>Awarded merit certificate granted by the headmaster of the Cantho University of Technology  for the excellent academic activities (2017 – 2018)</p>
                    </div>



                    <div class="progress-bar">
                        <p class="prog-title">Excellent Master Student Award</p>
                    </div>
    
                    <div class="progress-bar">
                        <p >Awarded merit certificate granted by the headmaster of HCMUT – VNUHCM  for outstanding postgraduates in the master course (2015 – 2017)</p>
                    </div>


                    <div class="progress-bar">
                        <p class="prog-title">Best Master’s Thesis Award</p>
                    </div>
    
                    <div class="progress-bar">
                        <p>Awarded certificate for the best master’s thesis in the computer science course at HCMUT – VNUHCM  (2017)</p>
                    </div>


                    <div class="progress-bar">
                        <p class="prog-title">Erasmus + Scholarship</p>
                    </div>
    
                    <div class="progress-bar">
                        <p>Awarded student exchange scholarship program by HCMUT (Vietnam) and UNITN (Italy) for outstanding student (2017)</p>
                    </div>
    
                    <div class="progress-bar">
                        <p class="prog-title">Excellent Student Award</p>
                    </div>

                    <div class="progress-bar">
                        <p>Awarded merit certificate granted by the headmaster of CTU for outstanding undergraduates in the bachelor course (2009 – 2013)</p>
                    </div>

                    <div class="progress-bar">
                        <p class="prog-title">CTU Scholarship</p>
                    </div>

                    <div class="progress-bar">
                        <p>Awarded to only 5% of the students in my college (in 2009, 2010, 2011, 2012)</p>
                    </div>
                </div>
            </div>
            <!--End: Programming skills-->
            

            <!--Start: EDUCATION-->
            <h4 class="stat-title">EDUCATION AND TRAINING</h4>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2019 - 2022</p>
                    <h5>PhD student in Computer Science – Marie Curie Fellow
                        <span> - <a class="work-link" target="_blank" href="https://www.uninsubria.it/">University of Insubria, Italy</a></span>
                        <span> - <a class="work-link" target="_blank" href="https://rais-itn.eu/">RAIS project</a></span>
                    
                    </h5>
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Advisor: </span>
                        Prof. Elena Ferrari and Prof. Barbara Carminati
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Topic: </span>
                    </p>

                    <p class="projectName">
                        <a style="text-align: left;" class="work-link" target="_blank" href="https://rais-itn.eu/fellow/ha-xuan-son">RAIS-INSUB-ESR4: ‘User-Centric Personal Data Management’</a>
                    </p>                                
                </div>

                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">FEB – JUL 2017</p>
                    <h5>ERASMUS+ STUDY AND TRAINEESHIP
                        <span> - <a class="work-link" target="_blank" href="http://www.hcmut.edu.vn/en">UNIVERSITY OF TRENTO, ITALY</a></span>
                    
                    </h5>
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Advisor: </span>
                        Prof. Fabio Massacci and Dr. Nam Ngo
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">GPA: </span>
                    </p>

                    <p class="projectName">
                        30/30
                    </p>                  
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Research Project: </span>
                    </p>

                    <p class="projectName">
                        <a class="work-link" target="_blank" href="https://securitylab.disi.unitn.it/doku.php?id=fintech&s[]=futuremex">FuturesMEX - Secure Distributed Futures Market Exchange</a>
                    </p>  
                </div>
            
                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2015 – 2017</p>
                    <h5>M.Sc. in Computer Science
                        <span> - <a class="work-link" target="_blank" href="http://www.hcmut.edu.vn/en">Ho Chi Minh city University of Technology (HCMUT), Vietnam</a></span>
                    
                    </h5>
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Advisor: </span>
                        Assoc. Prof. Tran Khanh Dang
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">GPA: </span>
                    </p>

                    <p class="projectName">
                        9.18/10 (Ranked 1st in Computer Science in the master course)
                    </p>                  
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Thesis: </span>
                    </p>

                    <p class="projectName">
                        ‘Research and Development the Access Control Model for Big Data’. Grade 10/10
                    </p>  
                </div>

                <div class="timeline-item">
                    <div class="tl-icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <p class="tl-duration">2009 –   2013</p>
                    <h5>B.E. in Software Engineering
                        <span> - <a class="work-link" target="_blank" href="https://en.ctu.edu.vn/">Cantho University (CTU), Vietnam</a></span>
                    
                    </h5>
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Supervisor: </span>
                        M.Sc. Vo Huynh Tram
                    </p>

                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">GPA: </span>
                    </p>

                    <p class="projectName">
                        3.69/4 (Ranked 1st in Software Engineering Faculty, Cantho University, Vietnam)
                    </p>                  
                    
                    <p>
                        <span style="text-decoration: underline; font-weight: bold;">Thesis: </span>
                    </p>

                    <p class="projectName">
                        ‘Development of the Caro algorithm on HTML5 and CSS3’. Grade 4.0/4.0
                    </p>
                </div>
            </div>
            <!--End: EDUCATION-->
        </section>
        <!--End: About Information-->


        <!--Start: PORTFOLIO-->
        <section class="container" id="portfolio">
            <div class="main-title">
                <h2>My <span>Activities</span><span class="bg-text">My Work</span></h2>
            </div>
            <p class="port-text">
                “I alone cannot change the world, but I can cast a stone across the waters to create many ripples.” – Mother Teresa
            </p>

            <div class="blogs-content">
                <div style="text-align: left; margin-bottom: 24px;" class="main-title">
                    <h2 style="font-size: 24px; text-align: center;"><span> Workshop activities</span> for study</h2>
                </div>
                
                <div class="blogs">
                    <div class="blog">
                        <img src="https://haxuanson.s3.amazonaws.com/img/summerschool1.jpg" alt="">
                        <div class="blog-text">
                            <h4 style="font-size: 20px;">
                                <a target="_blank" href="https://rais-itn.eu/training-course/iot-analytics-research-and-innovation">
                                    Summer School on "IoT Analytics: Research and Innovation"
                                </a>
                            </h4>
                        </div>
                    </div>


                    <div class="blog">
                        <img src="https://haxuanson.s3.amazonaws.com/img/summerschool2.jpg" alt="">
                        <div class="blog-text">
                            <h4 style="font-size: 20px;">
                                <a target="_blank" href="https://rais-itn.eu/training-course/summer-school-entrepreneurship-workshop">
                                    Summer School, Entrepreneurial Event and Workshop
                                </a>
                            </h4>
                        </div>
                    </div>

                    <div class="blog">
                        <img src="https://haxuanson.s3.amazonaws.com/img/summerschool3.jpg" alt="">
                        <div class="blog-text">
                            <h4 style="font-size: 20px;">
                                <a target="_blank" href="https://rais-itn.eu/training-course/summer-school-and-workshop">
                                    Summer School and Workshop
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>


            <div class="activities">
                <div style="text-align: left; margin-bottom: 24px; margin-top: 24px;" class="main-title">
                    <h2 style="font-size: 24px; text-align: center;">My <span> Charity activities</span> for community</h2>
                </div>

                <!--Supporting people blocked during the Covid-19 pandemic-->
                <div class="blogs-content">
                    <div style="text-align: left; margin-bottom: 24px;" class="main-title">
                        <h2 style="font-size: 20px;"><span>Supporting</span> people blocked during the Covid-19 pandemic</h2>

                         
                    </div>
                    
                    <div class="blogs">
                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Supporting people blocked during the Covid-19 pandemic/01.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Supporting people blocked during the Covid-19 pandemic/02.jpeg" alt="">
                        </div>
                        
                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Supporting people blocked during the Covid-19 pandemic/03.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Supporting people blocked during the Covid-19 pandemic/04.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Supporting people blocked during the Covid-19 pandemic/05.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Supporting people blocked during the Covid-19 pandemic/06.jpeg" alt="">
                        </div>
                    </div>

                </div>

                <!--Building bridges and roads-->
                <div class="blogs-content">
                    <div style="text-align: left; margin-bottom: 24px; margin-top: 24px;" class="main-title">
                        <h2 style="font-size: 20px;"><span>Building</span> bridges and roads</h2>

                         
                    </div>
                    
                    <div class="blogs">

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Building bridges and roads/01.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Building bridges and roads/02.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Building bridges and roads/03.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Building bridges and roads/04.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Building bridges and roads/05.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Building bridges and roads/06.jpeg" alt="">
                        </div>
                        
                    </div>

                </div>

                <!--Distributing gifts to disadvantaged areas-->
                <div class="blogs-content">
                    <div style="text-align: left; margin-bottom: 24px; margin-top: 24px;" class="main-title">
                        <h2 style="font-size: 20px;"><span>Distributing gifts</span> to disadvantaged areas</h2>

                         
                    </div>
                    
                    <div class="blogs">

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Distributing gifts to disadvantaged areas/01.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Distributing gifts to disadvantaged areas/02.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Distributing gifts to disadvantaged areas/03.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Distributing gifts to disadvantaged areas/04.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Distributing gifts to disadvantaged areas/05.jpeg" alt="">
                        </div>

                        <div class="blog">
                            <img src="https://haxuanson.s3.amazonaws.com/img/Charity/Distributing gifts to disadvantaged areas/06.jpeg" alt="">
                        </div> 
                    </div>

                </div>

                <div>
                    <p style="margin: 24px 0;">
                        <span style="font-weight: bold;">Follow more about my charity activities at: </span>
                        <a style="text-decoration: underline;" href="https://www.facebook.com/xuanson.ha.7">
                            My charity activities
                        </a>
                    </p>
                </div>
                
                <div style="text-align: left; margin-bottom: 24px; margin-top: 24px;" class="main-title">
                    <h2 style="font-size: 24px; text-align: center;">My <span> Heart letter </span> for community charity</h2>
                </div>

                <div class="activities-envelop">
                    <p style="font-weight: bold;">Dear Sponsors,</p>
                    <p>I am a Vietnames. Currently, Vietnam is a developing country, and our homeland still has a lot of people who need help. Along with many friends, my wife and I are the founders of the charity group "Green Road". We have posted fundraising activities from benefactors from all over the world who read this content or our Facebook friends. Please feel free to share. We have activities to build shelters for the poor, raise money to buy milk and food for children, plant forests and trees, build roads and bridges in disadvantaged rural areas, help people isolated in quarantine areas due to Covid-19, and many other calls. $1 can help a meal for the whole family/day.</p>
                    <p>If you are a supporter, check out the activities we post on the personal Facebook pages of 
                    <a style="text-decoration: underline;" href="https://www.facebook.com/xuanson.ha.7">me</a>, 
                    <a style="text-decoration: underline;" href="https://www.facebook.com/bebe.tuyen">my wife</a>, or
                    <a style="text-decoration: underline;" href="https://www.facebook.com/duongtrungnghia">my friends</a>
                    . All activities are posted publicly. The content is in Vietnamese but can be quickly translated by using Facebook's translation tool. Information on how to contribute is also included with each activity.</p>
                    <p style="font-weight: bold;">For further support please send to:</p>
                    <p style="font-weight: bold; font-style: italic;">Bank of Vietnam</p>
                    <p>
                        0111000273282 - Account owner Tran Thi Be Tuyen. - Vietcombank Can Tho branch.
                    </p>
                    <p>
                        01973473501 - Account owner Ha Xuan Son. - TP Bank Can Tho branch.
                    </p>
                    <p style="font-weight: bold; font-style: italic;">European Bank</p>
                    <p>
                        IBAN IT36A0567617295IB0001099507 - Account owner Ha Xuan Son - Italy

                    </p>
                    <p>
                        IBAN LT33 3250 0135 6176 1147 - Account owner Trung Nghia Duong

                    </p>
                    <p>We appreciate your time, sympathy and money. Thank you for reading, sharing and contributing.</p>
                    <p style="font-style: italic;">Green Road Group - "Green Road" Group</p>
                </div>

                <div style="text-align: left; margin-bottom: 24px; margin-top: 24px;" class="main-title">
                    <h2 style="font-size: 24px; text-align: center;"><span> Bức tâm thư </span> của tôi cho hoạt động vì cộng đồng</h2>
                </div>

                <div class="activities-envelop">
                    <p style="font-weight: bold;">Kính gửi các nhà tài trợ,</p>
                    <p>Tôi là một người con Việt Nam. Hiện tại, Việt Nam là một đất nước đang phát triển, và quê hương của chúng tôi vẫn còn rất nhiều người cần sự giúp đỡ. Cùng với nhiều bạn bè, tôi và vợ tôi là những người sáng lập nhóm thiện nguyện "Con đường xanh". Chúng tôi đã đăng các hoạt động quyên góp từ các nhà hảo tâm từ khắp nơi trên thế giới, những người đọc nội dung này hoặc bạn bè trên Facebook của chúng tôi. Xin vui lòng chia sẻ. Chúng tôi có các hoạt động xây dựng mái ấm cho người nghèo, quyên góp tiền mua sữa và thực phẩm cho trẻ em, giúp đỡ các bệnh nhân cần giúp đỡ, trồng rừng và cây xanh, xây cầu đường ở những vùng nông thôn khó khăn, giúp đỡ những người bị cô lập trong khu vực cách ly do Covid-19, và rất nhiều lời kêu gọi khác. 1 đô la có thể giúp một bữa ăn cho cả gia đình.</p>
                    <p>Nếu bạn là một người ủng hộ, hãy xem những hoạt động mà chúng tôi đăng tải trên trang Facebook cá nhân của 
                    <a style="text-decoration: underline;" href="https://www.facebook.com/xuanson.ha.7">tôi</a>,
                    <a style="text-decoration: underline;" href="https://www.facebook.com/bebe.tuyen">vợ tôi</a>, hoặc 
                    <a style="text-decoration: underline;" href="https://www.facebook.com/duongtrungnghia">bạn bè tôi</a>
                    . Mọi hoạt động đều được đăng tải ở chế độ công khai. Nội dung bằng tiếng Việt nhưng có thể dịch nhanh bằng công cụ dịch của Facebook. Thông tin về cách đóng góp cũng được đính kèm trong mỗi hoạt động.</p>
                    <p style="font-weight: bold;">Mọi chi tiết ủng hộ xin gửi về:</p>
                    <p style="font-weight: bold; font-style: italic;">Ngân hàng Việt Nam</p>
                    <p>0111000273282 - Chủ TK Trần Thị Bé Tuyền - Ngân hàng Vietcombank chi nhánh Cần Thơ.
                    </p>
                    <p>01973473501 - Chủ TK Hà Xuân Sơn. - Ngân hàng TP Bank chi nhánh Cần Thơ.
                    </p>
                    <p style="font-weight: bold; font-style: italic;">Ngân hàng Châu Âu</p>
                    <p>IBAN IT36A0567617295IB0001099507 - Chủ TK Hà Xuân Sơn - Ý
                    </p>
                    <p>IBAN LT33 3250 0135 6176 1147 - Chủ TK  Dương Trung Nghĩa - Châu Âu
                    </p>
                    <p>Chúng tôi đánh giá cao thời gian, sự thông cảm và tiền bạc của bạn. Cảm ơn bạn đã đọc, chia sẻ và đóng góp.</p>
                    <p style="font-style: italic;">Nhóm Con Đường Xanh - Nhóm "con đường xanh"</p>
                </div>
            </div>







            
        </section>
        <!--End: PORTFOLIO-->

        <!--Start: PUBLISHING-->
        <section class="container" id="blogs">
            <div class="blogs-content">
                <div class="main-title">
                    <h2>My <span>Publications</span><span class="bg-text">My Publications</span></h2>
                </div>

                <div class="blogs-introduction">
                    <div class="blogs-introduction-left">
                        <div style="text-align: left; margin-bottom: 24px;" class="main-title">
                            <h2 style="font-size: 20px;">My Passion for<span> Research and Science</span></h2>
                        </div>
                        
                        <p style="margin-bottom: 24px;">"A monument to Newton! a monument to Shakespeare! Look up to Heaven—look into the Human Heart. Till the planets and the passions–the affections and the fixed stars are extinguished—their names cannot die." - John Wilson</p>
                    
                        <p>
                            <span style="font-weight: bold;">Follow my publishing at:</span>  
                            <span><a style="text-decoration: underline;" href="https://scholar.google.com/citations?hl=en&user=2Ysvz_QAAAAJ&view_op=list_works&sortby=pubdate">Ha Xuan Son - Google scholar</a></span>
                        </p>

                    
                    </div>
                    <div class="blogs-introduction-right">
                        <div>Cited by</div>
                        <div>
                            <table width="100%">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th style="text-align: center;">All</th>
                                    <th style="text-align: center;">Since 2017</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Citations</td>
                                    <td style="text-align: center;"><%= user.citedBy.table.citations.all %></td>
                                    <td style="text-align: center;"><%= user.citedBy.table.citations.since2017 %></td>
                                  </tr>
                                  <tr>
                                    <td>h-index</td>
                                    <td style="text-align: center;"><%= user.citedBy.table.hIndex.all %></td>
                                    <td style="text-align: center;"><%= user.citedBy.table.hIndex.since2017 %></td>
                                  </tr>
                                  <tr>
                                    <td>i10-index</td>
                                    <td style="text-align: center;"><%= user.citedBy.table.i10Index.all %></td>
                                    <td style="text-align: center;"><%= user.citedBy.table.i10Index.since2017 %></td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                        <p style="font-size: 12px; font-style: italic;">My citation in google scholar - 2022</p>
                    </div>
                </div>

                <div style="margin-top: 94px;" class="main-title">
                    <h2 style="font-size: 24px;">Explore my <span>Publications</span><span class="bg-text">Explore my Publications</span></h2>
                </div>
                
                <div class="blogs-type">
                    <h3 style="margin-bottom: 15px">Conference</h3>
                    <div class="blogs">
                        <% user.conferenceArticles.forEach(function(article){ %>
                            <div class="blog">
                                <div class="blog-text">
                                    <h4>
                                        <%= article.year %>
                                    </h4>
                                    <p>
                                        <span style="font-weight: bold;">Authors: </span>
                                        <%= article.authors %>
                                    </p>
                                    <p>
                                        <a style="text-decoration: underline;" href=<%= article.link %>>
                                            <%= article.title %>
                                        </a>
                                    </p>
        
                                    <p><span style="font-weight: bold;">Conference: </span><%= article.conference %>.</p>
        
                                    <p><span style="font-weight: bold;">Publisher: </span><%= article.publication %>.</p>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>


                <div class="blogs-type">
                    <h3 style="margin-bottom: 15px">Journal</h3>
                    <div class="blogs">
                        <% user.journalArticles.forEach(function(article){ %>
                            <div class="blog">
                                <div class="blog-text">
                                    <h4>
                                        <%= article.year %>
                                    </h4>
                                    <p>
                                        <span style="font-weight: bold;">Authors: </span>
                                        <%= article.authors %>
                                    </p>
                                    <p>
                                        <a style="text-decoration: underline;" href=<%= article.link %>>
                                            <%= article.title %>
                                        </a>
                                    </p>
        
                                    <p><span style="font-weight: bold;">Journal: </span><%= article.journal %>.</p>
        
                                    <p><span style="font-weight: bold;">Publisher: </span><%= article.publication %>.</p>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </section>

        <!--END: PUBLISHING-->

        <section class="container contact" id="contact">
            <div class="contact-container">
                <div class="main-title">
                    <h2>Contact <span>Me</span><span class="bg-text">Contact</span></h2>
                </div>
                <div class="contact-content-con">
                    <div class="left-contact">
                        <h4>Contact me here</h4>
                        
                        <p style="font-style: italic;">
                            “There is no key to open the heart of another - except curiosity.”  ― Stefan Molyneux
                        </p>
                        <div class="contact-info">
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <span>Location</span>
                                </div>
                                <p>
                                    : RMIT University, SGS Campus, Vietnam
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fa-solid fa-briefcase"></i>
                                    <span>Work</span>
                                </div>
                                <p>
                                    : Associate Lecturer at Blockchain-Enable Business
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                    <span>Email</span>
                                </div>
                                <p>
                                    <span>: ha.son@rmit.edu.vn</span>
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-user-graduate"></i>
                                    <span>Education</span>
                                </div>
                                <p>
                                    <span>: PhD at DiSTA, University of Insubria, Italy</span>
                                </p>
                            </div>
                            <div class="contact-item">
                                <div class="icon">
                                    <i class="fas fa-globe-africa"></i>
                                    <span>Languages</span>
                                </div>
                                <p>
                                    <span>: English and VietNamese</span>
                                </p>
                            </div>
                        </div>


                        <div class="contact-icons">
                            <div class="contact-icon">
                                <a href="https://www.facebook.com/xuanson.ha.7" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/ha-xuan-son-ha-4b95a7235" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="https://github.com/SonHaXuan" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="right-contact">
                        <form action="/contact" method="POST" class="contact-form">
                            <div class="input-control i-c-2">
                                <input type="text" name="fullName" required placeholder="YOUR NAME">
                                <input type="email" name="email" required placeholder="YOUR EMAIL">
                            </div>
                            <div class="input-control">
                                <input type="text" name="subject" required placeholder="ENTER SUBJECT">
                            </div>
                            <div class="input-control">
                                <textarea name="message" id="" cols="15" rows="8" placeholder="Message Here..."></textarea>
                            </div>
                            <div class="submit-btn">
                                <button class="main-btn">
                                    <span class="btn-text">Send</span>
                                    <span class="btn-icon"><i class="fa-solid fa-paper-plane"></i></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="controls">
        <div class="control active-btn" data-id="home" >
            <i class="fas fa-home"></i>
        </div>
        <div class="control" data-id="about">
            <i class="fas fa-user"></i>
        </div>
        <div class="control" data-id="portfolio">
            <i class="fas fa-briefcase"></i>
        </div>
        <div class="control" data-id="blogs">
            <i class="far fa-newspaper"></i>
        </div>
        <div class="control" data-id="contact">
            <i class="fas fa-envelope-open"></i>
        </div>
    </div>
    <div class="theme-btn">
        <i class="fas fa-adjust"></i>
    </div>
    <script src="./js/app.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8147024554168992"
        crossorigin="anonymous"></script>
    <!-- ad1 -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-8147024554168992"
        data-ad-slot="6955358418"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</body>
</html>